@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

*, *::after, *::before{
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.shadow {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.74);
}